.lesson {
    border: 2px solid black;
    text-align: center;
    background-color: darksalmon;
}

.clef-img {
    height: 5vw;
}

.rect {
    background-color: brown;
}

.line {
    background-color: green;
    border: 2px solid red
}

.ladder {
    display: flex;
    padding: 1rem;
    justify-content: center;
}